@import 'bootstrap/dist/css/bootstrap.min.css';

.myContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.myCards {
  display: flex;
  flex-wrap: wrap;
  margin: 10%;
  animation: fadeIn 1s ease-in-out;

}

.myCard {
  margin-bottom: 20px;
  width: 330px;
  height: 10%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: scale(1);
}
.myCard:hover {
  transform: scale(1.05);

}

.myHeader {
  text-align: center;
  width: 100%;

}

.search-bar {
  width: 30%;
  margin: 0 auto;

}

.myHeader h1 {
  margin-bottom: 50px; 
  padding: 100px;

}

.notFound {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
}

.card {
  border-width: 3px; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sortNews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortNews div {
  margin: 10px; 

  text-align: center;
}
.sortNews div button {
  background-color: grey;
  border: none;
  color: white;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}




.sortNews div button:hover {
  background-color: darkgrey; 
  transform: scale(1.1); 
}

.sortNews div button:active {
  transform: scale(0.95); 
  opacity: 0.7; 
}